.freeConsulationBox{
    padding: 15px 30px;
}
.left{
    /* width: 65%; */
    font-size: 18px;
}
.right{
    /* width: 40%; */
}
.right button{
    background-color: #41484E;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 40px;
    white-space: nowrap;
}
@media screen and (min-width: 900px) {
    .freeConsulationBox{
    padding: 50px 100px;
}
   .left{
    font-size: 35px;
} 
}