.free-consulation-box{
    padding: 50px 100px;
}
.free-consulation-box .left{
    width: 60%;
}
.free-consulation-box .right{
    width: 40%;
}
.free-consulation-box .right button{
    background-color: #41484E;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 40px;
}
