.freeConsulationBox{
    padding: 0 15px;
}
.left{
    padding: 15px 15px;
    /* width: 65%; */
    font-size: 18px;
}
.right{
    padding: 15px 15px;
    /* width: 40%; */
}
.right button{
    background-color: #41484E;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 40px;
    white-space: nowrap;
}
@media screen and (min-width: 900px) {
    .left, .right{
    padding: 50px 25px;
}
   .left{
    font-size: 35px;
} 
}