.homeFirstView{
    background-image: url("/public/images/home-v1-top.jpg");
}
.homeSecondView{
    width: 95%;
    overflow: hidden;
}
.row{
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.left{
    transform: translateX(-620px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.right{
    transform: translateX(620px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.homeSecondView .right .title{
    color: #595959;
}
.homeSecondView .right .body{
    color: #757474;
}
.homeSecondView .right ul li span{
    color: #757474;
    margin-left: 10px;
}

.excel .row{
    height: 500px;
}
.excel .row .left{ 
    padding: 0;
    height: 100%;
    /* position: relative; */
}

.excel .right{
    background-color: #585757;
    padding: 70px 60px;
}
.excel .progress{
    height: 7px;
}
.excel .progress .progressBar{
    background-color: var(--orange);
    
}


.lifeCoaching{
    width: 100%; 
    height: 90vh; 
    display: flex;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;
}
.lifeCoaching .title{
    font-size: 30px;
    font-weight: 500;
}
@media screen and (min-width: 770px) {
    .lifeCoaching{
        background-image: url("/public/images/life-coaching.jpg");
        position: relative;
        background-position: top center;
        background-size: cover;
    }
    .lifeCoaching .title{
        font-size: 45px;
        font-weight: 700;
    }
}