.v1 .home-first-view{
    background-image: url("/public/images/home-v1-top.jpg");
}
.v1 .home-second-view{
    width: 95%;
    overflow: hidden;
}
.v1 .home-second-view .row{
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}
.v1 .home-second-view .left{
    transform: translateX(-520px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.v1 .home-second-view .right{
    transform: translateX(520px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.v1 .home-second-view .right .title{
    color: #595959;
}
.v1 .home-second-view .right .body{
    color: #757474;
}
.v1 .home-second-view .right ul li span{
    color: #757474;
    margin-left: 10px;
}


.excel .left{
    padding: 0;
    /* position: relative; */
}

.v1 .excel .right{
    background-color: #585757;
    padding: 70px 60px;
}
.v1 .excel .progress{
    height: 7px;
}
.v1 .excel .progress .progress-bar{
    background-color: var(--orange);
    
}


.v1 .life-coaching{
    background-image: url("/public/images/life-coaching.jpg");
    position: relative;
    background-position: top center;
    background-size: cover;
    width: 100%; 
    height: 90vh; 
    display: flex;
    align-items: center;
    margin-top: 100px;
}