.homeFirstView{
    background-image: url("/public/images/home-v1-top.jpg");
}
.homeSecondView{
    width: 95%;
    overflow: hidden;
}
.row{
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.left{
    transform: translateX(-620px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.right{
    transform: translateX(620px);
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
}
.homeSecondView .right .title{
    color: #595959;
}
.homeSecondView .right .body{
    color: #757474;
}
.homeSecondView .right ul li span{
    color: #757474;
    margin-left: 10px;
}


