.elementor-wrapper{
    background-color: #ececec;
    padding: 60px;
}
.elementor-wrapper .elementor{
    width: 90%;
    min-height: 480px;
    margin: 20px auto;
}
.elementor-wrapper .elementor-inside .col-3{
    margin: auto;
    font-size: 25px;
}
.elementor-wrapper .elementor-inside .col-9 .title{
    font-size: 25px;
    margin-bottom:8px;
}