.shopBtn{
    margin: 20px 20px 0 0 ;
    padding: 12px 33px;
    border: none;
}
.status{
    margin: 70px auto;
    border-top: 2px solid rgb(100, 100, 247);
    font-size: 13px;
}
.status i{
    color: rgb(100, 100, 247);
}
.link{
    text-decoration: none;
}