.contact-body .top-title{
    font-weight: 500;
}

.contact-body p, .contact-body li{
    color: #7e7d7d;
    margin: 15px 0;
}
.contact-body li span{
    margin: 10px;
}
.contact-body .left .social-media span{
    background-color: rgb(245, 242, 242);
    border-radius: 50%;
    margin: 8px;
}
.contact-body .left .social-media span i{
    margin: 9px;
    font-size: 14px;
    color: rgb(92, 91, 91);
}
.contact-body .left .social-media span:hover{
    background-color: rgb(92, 91, 91);
}
.contact-body .left .social-media span:hover i{
    color: rgb(245, 242, 242);
}