.spe-wrapper{
    width: 100%;
    background-color: rgb(245, 245, 245);
}
.specialtiesList{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.specialtiesList .spe{
    height: 440px;
    padding: 25px;
    text-align: center;
}
.specialtiesList .spe .title{
    font-size: 20px;
    font-weight: 450;
    margin: 30px 0;
}
.specialtiesList .title{
    margin: 20px 0;
}
.specialtiesList .definition{
    margin: 50px 0;
    color: var(--gray);
}