.v2 .home-first-view{
    background-image: url("/public/images/home-v2-top.jpg");
}
.v2 .introduction{
    width: 100%;
    min-height: 100vh;
    padding: 100px 130px;
}
.v2 .introduction .row .left{
    border-right: 4px solid #D9945D;
}
.v2 .introduction .row .right{
    padding-left: 50px;
}
.v2 .introduction ul li{
    margin: 10px 0;
}
.v2 .introduction ul li i{
    margin-right: 10px;
}
.v2 .pricing-plans{
    width: 100%;
    padding: 100px 12px;
}
.v2 .pricing-plans .wall{
    background-image: url('/public/images/wallpaper.jpg');
    min-height: 450px; 
    width: 100%;
    padding: 140px; 
    position: relative;
}
.v2 .pricing-plans .wall .col-lg-5, .v2 .pricing-plans .wall .col-lg-7{
    z-index: 2;
}
.v2 .pricing-plans .wall .orange-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(217, 148, 93, 0.6) ; /* the RGB representation of "#D9945D" is (217, 148, 93). */
}
.v2 .pricing-plans .prices-wrapper{
    padding-left: 140px; 
    padding-right: 140px; 
    margin-top: -170px;
    background-color: rgb(248, 248, 248);
    min-height: 700px;
}
.v2 .pricing-plans .prices-wrapper .card{
    min-height: 350px;
    padding: 50px 0;
    align-items: center;
    color: #6c6c6c;
    border: none;
    box-shadow: 0 0 2px 2px #efefef;
}
.v2 .pricing-plans .prices-wrapper .card .title{
    font-size: 14px;
}
.v2 .pricing-plans .prices-wrapper .card .price{
    color: #505050;
}
.v2 .pricing-plans .prices-wrapper .card.mid .price{
    color: #D9945D;
}
.v2 .pricing-plans .prices-wrapper ul{
    border-top: 1px solid #bababa;
    margin: 25px 0;
    padding: 25px 0;
    font-size: 13px;
}

.v2 .pricing-plans .prices-wrapper ul li i{
    margin: 10px 12px 0 0;
}
.v2 .pricing-plans .prices-wrapper .card button{
    background-color: #636363;
    color: #fff;
    font-size: 13px;
    padding: 7px 25px;
    border: none;
    font-weight: 500;
}
.v2  .card.mid button{
    background-color: #D9945D;
} 

.v2 .mission h3{
    padding-top: 50px;
    border-top: 1px solid #d7d7d7;

}
.v2 .location{
    min-height: 400px;
    background-color: #F1F4F6;
}
.v2 .location .context{
    padding: 100px;
}
.v2 .location .map{
    background-image: url(/public/images/map-layout-600x290.jpg);
}
.v2 .advisors-video{
    width: 100%;
    padding: 12px;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: block;
}
.v2 .advisors-video video{
    width: 100%;
    position: absolute;
    top: -40%;
}
.v2 .advisors-video .context{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}