.form-container{
    background-color: #F1F4F6;
}
.form-container .top-title{
    font-weight: 500;
}
.form-container .title{
    font-size: 35px;
}

.form-container form input{
    width: 75%;
}
.form-container form *{
    padding: 12px;
    margin: 18px 0;
    border: 1px solid #dfdddd;
    font-size: 13px;
}
.form-container form button{
    width: 150px;
}