.first-view{
    background-image: url('/public/images/bg-top.jpg');
    background-position: top center;
    background-size: cover;
}
.first-view-content{
    min-height: 515px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.free-consulation{
    background-color:#D9945D;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
}