.firstView{
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    background-image: url('/public/images/bg-top.jpg');
}
.firstViewContent{
    min-height: 515px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstViewContent p{
    color: #ffffffb3;
}
.free-consulation{
    background-color:#D9945D;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
}
.link-no-underline{
  text-decoration: none;
}


/* homes */


.homeFirstView{
    /* position: relative; */
    background-position: top center;
    background-size: cover;
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
}
 
.homeFirstView .homeWrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0 20px;
    overflow: hidden;
    position: relative;
}
.homeFirstView .homeWrapper .row{
    height: 100%;
    max-width: 1023px;
    margin: 0 auto;
    align-items: center;
    /* z-index: 0; */
}

.homeFirstView .row .right{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50px, -50%);
    animation-name: comeLeft;
    animation-duration: 2s;
} 


.socialWrapper{
    height: 120px;
}
.homeFirstView .row .left{
    animation-name: comeUp;
    animation-duration: 2s;
}
.homeFirstView .row .leftContent{
    width: 70%;
}
@media screen and (min-width: 900px) {
    .homeFirstView .left .title{
        font-size: 20px;
    }
    .homeFirstView .left .subTitle{
        font-size: 75px;
        font-weight: 700;
    }   
}
@media screen and (min-width: 650px) and (max-width: 900px) {
    .homeFirstView .left .title{
        font-size: 16px;
    }
    .homeFirstView .left .subTitle{
        font-size: 60px;
        font-weight: 600;
    }  
    .v2 .homeFirstView .right{
        display: none;
    } 
}
@media screen and (max-width: 650px) {
    .homeFirstView .left .title{
        font-size: 12px;
    }
    .homeFirstView .left .subTitle{
        font-size: 40px;
        font-weight: 400;
    }   
    .homeFirstView .right{
        display: none;
    }
}
@keyframes comeUp{
    0%{
        transform: translateY(600px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes comeLeft{
    0%{
        transform: translate(1000px, -50%);
        opacity: 0;
    }
    
    100%{
        transform: translate(-50px, -50%);
        opacity: 1;
    }
}

#hamMenu{
    width: 0;
    max-height: 0;
    overflow: hidden;
    transition:max-height 1.3s ease;
}

#hamMenu.show{
    width: 100%;
    max-height: 1000px;
}

.hamMenu #close{
    display: none;
}
.verMenu .items{
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    font-size: 12px;
}
.verMenu .items .drop .link{
    padding: 7px;
}
.verMenu .items *{
    padding: 0;
    color: #888888;
}
.verMenu .items .subList{
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: all 5s ease;
}
.verMenu .items .subList.open{
    max-height: 1000px;
}

.verMenu .items .subList .subItems{
    border-top: 1px solid #d3d3d3;
    padding: 5px 15px;
}
ul{
    margin: 0;
}
.link{
    text-decoration:none;
}
.arrowWrapper{
    border: none;
    border-left: 1px solid #d3d3d3;
    cursor: pointer;
}
.arrow{
    margin: 11px 20px;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    border-bottom: 2px solid #747474;
    border-right: 2px solid #747474;
    transition: transform 0.3s ease;
}
.arrow.open{
    transform: rotate(45deg);
}

