.form-wrapper{
    margin: 30px auto;
    padding: 30px;
    
}
.form-wrapper .lost-pass-form{
    background-color:#efefef;
    margin: 0 auto;
    padding: 30px;
    color: #767676;
    font-size: 13px;
}
.form-wrapper .lost-pass-form input{
    border: 1px solid #cfcfcf;
    font-size: 14px;
    padding: 8px;
}
.form-wrapper .lost-pass-form .reset-pass{
    display: block;
    margin-top: 40px;
    border: none;
    color: #fff;
    padding: 8px 15px;
}