.experts{
    margin-top: 60px;
    margin-bottom: 100px;
}
.experts .pics{
    width: 85%;
    margin: 0 auto;
}
.experts .pics .pic{
    width: 30%;
    position: relative;
    padding: 15px;
}
.experts .pics .pic img{
    width: 100%;
}
.experts .pics .pic .alt{
    background-color: #fff;
    width: 70%;
    padding: 10px;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);

}
.experts .pics .pic i{
    margin: 0 5px;
    font-size: 12px;
}