/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li, ul{
    list-style: none;
}
/* Link{
    text-decoration: none;
} */
/*  utilities */
.h0{
    font-size: 55px;
    font-weight: 700;
}
.text-orange{
    color:#D9945D;
}
.bg-orange{
    background-color: #D9945D;
}
.text-gray{
    color: #9DA3A8;
}
.bg-gray{
    background-color: #9DA3A8;
}
.p-7{
    padding: 70px;
}
.pt-7{
    padding-top: 70px;
}
.pr-7{
    padding-right: 70px;
}
.pb-7{
    padding-bottom: 70px;
}
.py-7{
    padding-top: 70px;
    padding-bottom: 70px;
}
.mb-7{
    margin-bottom: 70px;
}
.m-7{
    margin: 70px;
}
.ml-7{
    margin-left: 70px;
}
.mt-7{
    margin-top: 70px;
}
.mr-7{
    margin-right: 70px;
}
.mb-7{
    margin-bottom: 70px;
}
.my-9{
    margin-top: 90px;
    margin-bottom: 90px;
}



/*  */
:root{
    --gray: #9DA3A8;
    --orange: #D9945D;
}
