.aboutus .about-company{
    min-height: 100vh;
    width: 100%;
    padding: 12px;
}
.aboutus .about-company .left{
    border-right: 4px solid #D9945D;
}
.aboutus .about-company .progress{
    height: 7px;
}
.aboutus .about-company .progress .progress-bar{
    background-color: var(--orange);
    
}
.aboutus .about-company .right img{
    width: 100%;
}
